@import 'theme';
@import 'share';
@import 'tabs';

.ban {
    .input {
        display: block;

        margin-bottom: 20px;

        background-color: #fff;
    }
    .ban_form {
        margin-top: 26px;
    }
}
