@import 'theme';
.ban {
	margin-bottom: 70px;
    .input {
        display: block;
        margin-bottom: 20px;
        background-color: #fff;
    }
    .ban_form {
        margin-top: 54px;
    }
}
.map {
	margin-top: 5px;
	width: 100%;
}
.col2 {
	float: left;
	#office {
		width: 100%;
		margin-top: 60px;
	}
}
.contact_info {
	margin-bottom: 80px;
}
.persons{
	padding-left: 60px;
	box-sizing: border-box;
	.person {
		margin-bottom:30px;
		.avatar{
			float: left;
			margin-right: 20px;
		}
	}
}
.input_select {
	background-position: 197px 16px;
}