.ban a {
	margin-top: 0px;
	float: left;
	margin-bottom: 12px;
}
.form {
	width: 245px;
	margin-top: 30px;
}
.col_addresess {
	float: left;
}
.address_container .col_addresess p {
	float: left;
}
.address_container .address {
	margin-left: 15px;
}
h2 {
	margin-bottom: 10px;
}
.address_block {
	margin-bottom: 40px;
	width: 620px;
}
.address_container .button {
	display: block;
	margin: 0 auto;
}
.address_block {
	float: left;
}
.address_block:nth-child(3n) {
	padding-left: 40px;
	box-sizing: border-box;
	float: right;
}
.ask_form .input {

	float: left;
	width: 225px;
	margin-right: 18px;
}
.ask_form, .ask_form .button {
	margin-top: 20px;
}
.address_block_hidden {
	display: none;
}