html {
	margin: 0px;
	padding: 0px;
	color: #3d3d3d;
	font-family: 'Istok Web', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: always;
}
html, body, p {
	margin: 0px;
	padding: 0px;
}
h1 {
	color: #232323;
	font-size: 64px;
}
h1, h2 {
	font-family: 'FranklinGothic', sans-serif;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
}
pre {
	font-family: 'Istok Web', sans-serif;
}
.date,.tag {
	color: #969696;
	text-decoration: none;
}
.line_horizontal {
	width: 100%;
}
a {
	color: #232323;
}
.title {
	margin-bottom: 40px;
}
.content {
	width: 1240px;
	margin: 0 auto;
}
.col2{
	width: 620px;
}
/*<---- Шапка begin ----->*/
.header {
	height: 100px;
	margin-top: 25px;
}
.logo {
    height: 38px;
	float: left;
}
.logo>img {
	width: 215px;
}
.logo>p {
	font-size: 13px;
	margin:0px 0px 0px 47px;
	line-height: 14px;
	color: #808080;
}
.menu {
	list-style-type: none;
	float: right;
	margin-top: 15px;
	font-size: 16px;
}
.item {
	display: inline;
	margin-left: 30px;
}
.item>a {
	color: #3d3d3d;
}
.info {
	margin-top: 3px;
	float: right;
	font-size: 13px;
	color: #808080;
}
.phone{
	text-decoration: none;
	color: #232323;
	font-size: 20px;
}
.phone img {
	position: relative;
	height: 24px;
	top: 5px;
	margin: 0px 9px 0px 30px;
}
/*<---- Шапка end ----->*/
/*<---- Баннер begin ----->*/
.ban {
	width: 100%;
	min-width: 1024px;
}
.ban_gray, .ban_orange {
	width: 50%;
	height: 150px;
	float: left;
}
.ban_orange {
	background-color: #ffcf3f;
}
.ban_gray {
	background-color: #f4f4f4;
}
.ban_gray>.col2 {
	float: right;
}

.ban_orange>.col2 {
	float: left;
}
.ban_text {
	font-size: 62px;
    float: left;
	color: #fff;
	background-color: #232323;
	padding: 3px 20px;
	margin-top: 35px;
	z-index: 2;
	position: relative;
}
.ban_panel {
	height: 100%;
	width: 587px;
	background-color: #ffcf3f;
    float: right;
}
.ban .form {
	float: right;
}
.triangle {
	float: left;
	position: relative;
	right: 149px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 150px 150px;
	border-color: transparent transparent #ffcf3f transparent;
}
.ban a {
	color: #1d7ac0;
	display: block;
	margin-top: 70px;
	float: right;
}
/*<---- Баннер end ----->*/
/*<---- Кнопки, поля ввода begin ----->*/
.button {
	cursor: pointer;
	border: 0px;
	color: #fff;
	font-size: 23px;
	padding: 17px 23px;
	background-color: #d2d2d2;
}
.button>a {
	color: #fff;
	text-decoration: none;
}
.button_active {
	background-color: #5a38ab;
}
.input {
	width: 366px;
	color: #535353;
	padding: 10px 15px; 
	font-size: 12px;
	box-sizing: border-box;
	-webkit-appearance: none;
}
.input_select {
	background-image: url("../images/arrow.png");
	background-repeat: no-repeat;
	background-position: 335px 16px;
}
.input_search_block, .input {
	border: 1px solid #d2d2d2;
	height: 36px;
}
.input_search_button {
	z-index: 2;
	border: 0px;
	float: right;
	background-color: #fff;
	width: 36px;
	height: 36px;
	background-image: url("../images/magnifier.png");
	background-repeat: no-repeat;
	background-position: 0px 6px;
}
.input_search {
	border: 0px;
	width: 330px;
	float: left;
}

::-webkit-input-placeholder {color:#535353;}
::-moz-placeholder          {color:#535353;}/* Firefox 19+ */
:-moz-placeholder           {color:#535353;}/* Firefox 18- */
:-ms-input-placeholder      {color:#535353;}

/*<---- Кнопки, поля ввода end ----->*/
.clear-fix:after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

/*<---- Подвал begin ----->*/
.seo {
	font-size: 10px;
	color: #505050;
	margin: 80px 0px;
}
.footer_menu {
	background-color: #232323;
	padding-bottom: 70px;
}
.footer_menu a {
	color: #e3e3e3;	
	display: block;
	font-size: 12px;
}
.footer_menu h5 a {
	text-decoration: none;
	font-size: 16px;
	font-style: bold;
}
.footer_col5 {
	width: 248px;
	float: left;
}
.contact {
	line-height: 100px;
	background-color: #ffce3e;
}
.contact_text {
	float: left;
}
.contact_text a {
	margin-right: 20px;
}
/*<----Иконки социальный сетей begin---->*/
.social p {
	float: right;
	margin-right: 10px;
} 
.social .icons {
	float: right;
}
.social_icon {
	display: inline-block;
	width: 42px;
	height: 42px;
	background-image: url("../images/social_black.png");
}
.icon_youtube {
	background-position: -52px 0px;
}
.icon_vk {
	background-position: -106px 0px;
}
.icon_facebook {
	background-position: -159px 0px;
}
.icon_twitter {
	background-position: -212px 0px;
}
/*<----Иконки социальный сетей end---->*/
.copyright {
	margin-top: 40px;
}
.copyright_text {
	text-align: center;
	margin-bottom: 15px;
	font-size: 12px;
}
/*<---- Подвал end ----->*/
/* <--- Пагинация begin --->*/
.pagination {
	width: 520px;
	margin: 0 auto;
	color: #808080;
}
.pagination .button {
	margin: 0px 4px;
	width: 60px; 
	padding: 0px;
}
.pagination a {
	box-sizing: border-box;
	text-align: center;
	display: block;
	padding: 15px 0px;
	width: 60px;
	height: 60px;
}
.ellipsis {
	padding: 0px 10px;
	color: #969696;
}
/* <--- Пагинация end --->*/
@font-face {
	font-family: 'FranklinGothic';
	src: url('../fonts/FranklinGothicMediumCondRegular.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	url('../fonts/FranklinGothicMediumCondRegular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
    font-family: 'FranklinGothicBook';
    src: url('../fonts/FranklinGothicBookCondOSC.otf')  format('opentype');
}	