html {
  font-family: 'Istok Web', sans-serif;
  font-smooth: always;
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 64px;
  color: #232323; }

h2 {
  font-size: 40px; }

h1, h2 {
  font-family: 'FranklinGothic', sans-serif;
  font-weight: 400; }

h3 {
  font-family: 'FranklinGothicBook', sans-serif;
  font-size: 36px;
  font-weight: 400; }

.date, .tag {
  text-decoration: none;
  color: #969696; }

a {
  color: #1d7ac0; }

.title {
  display: block;
  float: left;
  margin: 60px 0 40px 0;
  margin-right: 36px; }

.dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-top: 100px;
  border-radius: 50%;
  background-color: #d2d2d2; }

.horizontal_line {
  position: relative;
  top: -18px;
  border-style: solid;
  border-top: 1px;
  border-color: #d2d2d2; }

.line_padding {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  padding-top: 103px;
  padding-bottom: 100px; }

.line {
  width: 1px;
  height: 100%;
  max-height: 100%;
  margin-left: 945px;
  background-color: #d2d2d2; }

.content {
  width: 1240px;
  margin: 0 auto; }

.col2 {
  width: 620px; }

/*<---- Шапка begin ----->*/
.header {
  height: 100px;
  margin-top: 25px; }

.logo {
  float: left;
  height: 38px; }
  .logo img {
    width: 215px; }
  .logo p {
    font-size: 13px;
    line-height: 14px;
    margin: 0 0 0 47px;
    color: #808080; }

.menu {
  font-size: 16px;
  float: right;
  margin-top: 15px;
  list-style-type: none; }

.item {
  display: inline;
  margin-left: 30px; }
  .item a {
    color: #3d3d3d; }

.info {
  font-size: 13px;
  float: right;
  margin-top: 3px;
  color: #808080; }

.phone {
  font-size: 20px;
  text-decoration: none;
  color: #232323; }

.phone img {
  position: relative;
  top: 5px;
  height: 24px;
  margin: 0 9px 0 30px; }

/*<---- Шапка end ----->*/
/*<---- Баннер begin ----->*/
.ban {
  width: 100%;
  min-width: 1240px;
  height: 150px; }
  .ban .ban_form {
    float: right; }
  .ban .input {
    border: 0px; }

.ban_gray, .ban_orange {
  float: left;
  width: 50%;
  height: 100%; }

.ban_orange {
  background-color: #ffcf3f; }
  .ban_orange .col2 {
    float: left; }

.ban_gray {
  background-color: #f4f4f4; }
  .ban_gray .col2 {
    float: right; }

.ban_text {
  font-size: 60px;
  position: relative;
  z-index: 2;
  float: left;
  margin-top: 35px;
  padding: 3px 20px;
  color: #fff;
  background-color: #232323; }

.ban_panel {
  float: right;
  width: 587px;
  height: 100%;
  background-color: #ffcf3f; }

.triangle {
  position: relative;
  right: 149px;
  float: left;
  width: 0;
  height: 0;
  border-width: 0 0 150px 150px;
  border-style: solid;
  border-color: transparent transparent #ffcf3f transparent; }

.ban a {
  display: block;
  float: right;
  margin-top: 70px; }

/*<---- Баннер end ----->*/
/*<---- Кнопки, поля ввода begin ----->*/
.button {
  font-size: 20px;
  display: block;
  padding: 15px 38px;
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: #d2d2d2; }

.button > a {
  text-decoration: none;
  color: #fff; }

.button_active {
  background-color: #5a38ab; }

.input {
  font-size: 12px;
  box-sizing: border-box;
  width: 366px;
  padding: 10px 15px;
  color: #535353;
  -webkit-appearance: none; }

.input_select {
  background-color: #fff;
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: 335px 16px; }

.input_search_block, .input {
  height: 36px;
  border: 1px solid #d2d2d2; }

.input_search_button {
  z-index: 2;
  float: right;
  width: 36px;
  height: 36px;
  border: 0;
  background-color: #fff;
  background-image: url('../images/magnifier.png');
  background-repeat: no-repeat;
  background-position: 0 6px; }

.input_search {
  float: left;
  width: 330px;
  border: 0; }

::-webkit-input-placeholder {
  color: #535353; }

::-moz-placeholder {
  color: #535353; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #535353; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #535353; }

/*<---- Кнопки, поля ввода end ----->*/
.clear-fix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ''; }

/*<---- Подвал begin ----->*/
.seo {
  font-size: 10px;
  margin: 80px 0;
  color: #505050; }

.footer {
  min-width: 1240px; }

.footer_menu {
  padding-bottom: 70px;
  background-color: #232323; }
  .footer_menu a {
    font-size: 12px;
    display: block;
    color: #e3e3e3; }

.footer_menu h5 a {
  font-size: 16px;
  font-style: bold;
  text-decoration: none; }

.footer_col5 {
  float: left;
  margin-top: 70px;
  width: 248px; }
  .footer_col5 h5 {
    margin-bottom: 10px; }

.contact {
  line-height: 100px;
  background-color: #ffce3e; }
  .contact .contact_text {
    float: left; }
  .contact .contact_text a {
    margin-right: 20px;
    color: #3d3d3d; }

/*<----Иконки социальный сетей begin---->*/
.social p {
  float: right;
  margin-right: 10px; }

.social .icons {
  line-height: 1.5em;
  float: right;
  margin-top: 28px; }

.social_icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url('../images/social_black.png'); }

.icon_youtube {
  background-position: -52px 0; }

.icon_vk {
  background-position: -106px 0; }

.icon_facebook {
  background-position: -159px 0; }

.icon_twitter {
  background-position: -212px 0; }

/*<----Иконки социальный сетей end---->*/
.copyright {
  margin-top: 40px; }

.copyright_text {
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center; }

/*<---- Подвал end ----->*/
/* <--- Пагинация begin --->*/
.pagination {
  width: 520px;
  margin: 0 auto;
  margin-top: 30px;
  color: #808080; }
  .pagination .button {
    display: inline-block;
    width: 60px;
    margin: 0 4px;
    padding: 0; }
  .pagination a {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 15px 0;
    text-align: center; }
  .pagination .ellipsis {
    padding: 0 10px;
    color: #969696; }

/* <--- Пагинация END --->*/
/* <--- "Форма Нужна помощь" BEGIN--->?*/
.ask_form .input {
  float: left;
  width: 225px;
  margin-right: 18px; }

.ask_form, .ask_form .button {
  margin-top: 20px; }

.address_block_hidden {
  display: none; }

/* <--- "Форма Нужна помощь"?  END--->*/
@font-face {
  font-family: 'FranklinGothic';
  src: url('../fonts/FranklinGothicMediumCondRegular.woff') format('woff'), url('../fonts/FranklinGothicMediumCondRegular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

@font-face {
  font-family: 'FranklinGothicBook';
  src: url('../fonts/FranklinGothicBookCondOSC.otf') format('opentype'); }

.ban {
  height: 565px; }

.ban_comment .button {
  float: left;
  padding: 10px 16px; }
.ban_comment .quote {
  position: relative; }
  .ban_comment .quote .tab {
    padding-left: 25px;
    display: inline-block; }
.ban_comment .quote::before {
  content: " ";
  display: block;
  position: absolute;
  margin-left: -160px;
  margin-top: -120px;
  width: 130px;
  height: 106px;
  background: url('../images/quote.png') no-repeat;
  z-index: 2; }
.ban_comment .client_photo {
  position: absolute;
  margin-left: -90px;
  width: 500px;
  height: 565px;
  background: url('../images/man.jpg') no-repeat; }
.ban_comment .font_weight {
  font-weight: 600; }

.big_form .ban_gray {
  box-sizing: border-box; }
.big_form .triangle {
  right: 564px;
  border-width: 0 0 565px 565px;
  z-index: 2; }
.big_form .ban_text + .ban_text {
  margin-bottom: 36px; }
.big_form .ban_text {
  margin: 0; }
.big_form .ban_image {
  position: absolute;
  margin-top: 45px;
  margin-left: -70px;
  width: 570px;
  height: 465px;
  background: url('../images/camera.png') no-repeat;
  z-index: 4; }
.big_form .ban_form {
  position: relative;
  left: 93%;
  padding-top: 112px;
  z-index: 3;
  width: 720px; }
  .big_form .ban_form p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #232323; }
  .big_form .ban_form .input {
    width: 220px;
    margin-right: 15px;
    float: left; }
  .big_form .ban_form .button {
    margin-top: 18px; }

.industrial_solutions_1 {
  background: top url('../images/ban1.jpg') no-repeat; }

.industrial_solutions_2 {
  background: top url('../images/ban2.jpg') no-repeat; }

.industrial_solutions_3 {
  background: top url('../images/ban3.jpg') no-repeat; }

.ban_content {
  position: relative;
  top: 102px;
  left: 43%;
  width: 750px; }

.ban_list {
  margin-top: 20px;
  padding-left: 14px; }

.ban_list_item {
  margin-top: 15px;
  list-style-image: url('../images/angle_arrow.png'); }

.button_light {
  background-color: #7d54d9; }

.ban_content .button {
  float: left;
  margin-top: 45px;
  margin-right: 38px; }

.plus_block {
  float: left;
  width: 327px;
  margin-top: 65px;
  margin-right: 128px;
  text-align: center; }
  .plus_block .plus_icon {
    width: 168px;
    height: 168px;
    margin: 0 auto;
    margin-bottom: 15px;
    background: url('../images/plus_icon.png') no-repeat; }
  .plus_block .plus_icon_2 {
    background-position: -175px 0; }
  .plus_block .plus_icon_3 {
    background-position: -352px 0; }
  .plus_block .plus_info {
    margin: 10px 0; }

.plus_block:last-child {
  margin-right: 0; }

.about_block {
  float: left;
  box-sizing: border-box;
  padding-top: 10px;
  padding-right: 86px; }
  .about_block .about_block_text {
    width: 245px; }

.about_block:last-child {
  padding-right: 0; }

.about_block_number {
  font-family: FranklinGothic;
  padding-bottom: 10px;
  color: #ffcf3f; }

.additional_information_block {
  margin-top: 100px;
  float: left;
  width: 400px;
  text-align: center; }
  .additional_information_block img {
    width: 400px;
    height: 250px;
    margin-bottom: 25px; }
  .additional_information_block p {
    width: 300px;
    margin: 10px auto; }

.additional_information_block + .additional_information_block {
  margin-left: 15px; }

#map {
  width: 100%;
  height: 550px; }
  #map h3 {
    font-size: 16px; }

.about_container {
  margin-bottom: 40px; }

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel .owl-rtl {
  direction: rtl;
}
.owl-carousel .owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/* 
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-controls .owl-nav [class*='owl-'] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.owl-theme .owl-controls .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: white;
  text-decoration: none;
}
.owl-theme .owl-controls .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  -moz-transition: opacity 200ms ease;
  -ms-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}
