html {
  font-family: 'Istok Web', sans-serif;
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html, body, p {
  margin: 0;
  padding: 0; }

h1 {
  font-size: 64px;
  color: #232323; }

h2 {
  font-size: 40px; }

h1, h2 {
  font-family: 'FranklinGothic', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }

.date, .tag {
  text-decoration: none;
  color: #969696; }

a {
  color: #1d7ac0; }

.title {
  margin: 60px 0 40px 0;
  display: block;
  float: left;
  margin-right: 36px; }

.dot {
  border-radius: 50%;
  margin-top: 100px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #d2d2d2; }

.horizontal_line {
  position: relative;
  top: -18px;
  border: 0px;
  border-top: 1px #d2d2d2;
  border-style: solid; }

.line_padding {
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  padding-top: 103px;
  padding-bottom: 100px; }

.line {
  width: 1px;
  height: 100%;
  max-height: 100%;
  margin-left: 945px;
  background-color: #d2d2d2; }

.content {
  width: 1240px;
  margin: 0 auto; }

.col2 {
  width: 620px; }

/*<---- Шапка begin ----->*/
.header {
  height: 100px;
  margin-top: 25px; }

.logo {
  float: left;
  height: 38px; }
  .logo img {
    width: 215px; }
  .logo p {
    font-size: 13px;
    line-height: 14px;
    margin: 0 0 0 47px;
    color: #808080; }

.menu {
  font-size: 16px;
  float: right;
  margin-top: 15px;
  list-style-type: none; }

.item {
  display: inline;
  margin-left: 30px; }
  .item a {
    color: #3d3d3d; }

.info {
  font-size: 13px;
  float: right;
  margin-top: 3px;
  color: #808080; }

.phone {
  font-size: 20px;
  text-decoration: none;
  color: #232323; }

.phone img {
  position: relative;
  top: 5px;
  height: 24px;
  margin: 0 9px 0 30px; }

/*<---- Шапка end ----->*/
/*<---- Баннер begin ----->*/
.ban {
  width: 100%;
  min-width: 1240px; }
  .ban .ban_form {
    float: right; }

.ban_gray, .ban_orange {
  float: left;
  width: 50%;
  height: 150px; }

.ban_orange {
  background-color: #ffcf3f; }
  .ban_orange .col2 {
    float: leftl; }

.ban_gray {
  background-color: #f4f4f4; }
  .ban_gray .col2 {
    float: right; }

.ban_text {
  font-size: 60px;
  position: relative;
  z-index: 2;
  float: left;
  margin-top: 35px;
  padding: 3px 20px;
  color: #fff;
  background-color: #232323; }

.ban_panel {
  float: right;
  width: 587px;
  height: 100%;
  background-color: #ffcf3f; }

.triangle {
  position: relative;
  right: 149px;
  float: left;
  width: 0;
  height: 0;
  border-width: 0 0 150px 150px;
  border-style: solid;
  border-color: transparent transparent #ffcf3f transparent; }

.ban a {
  display: block;
  float: right;
  margin-top: 70px; }

/*<---- Баннер end ----->*/
/*<---- Кнопки, поля ввода begin ----->*/
.button {
  font-size: 20px;
  display: block;
  padding: 15px 38px;
  cursor: pointer;
  color: #fff;
  border: 0;
  background-color: #d2d2d2; }

.button > a {
  text-decoration: none;
  color: #fff; }

.button_active {
  background-color: #5a38ab; }

.input {
  font-size: 12px;
  box-sizing: border-box;
  width: 366px;
  padding: 10px 15px;
  color: #535353;
  -webkit-appearance: none; }

.input_select {
  background-image: url('../images/arrow.png');
  background-repeat: no-repeat;
  background-position: 335px 16px; }

.input_search_block, .input {
  height: 36px;
  border: 1px solid #d2d2d2; }

.input_search_button {
  z-index: 2;
  float: right;
  width: 36px;
  height: 36px;
  border: 0;
  background-color: #fff;
  background-image: url('../images/magnifier.png');
  background-repeat: no-repeat;
  background-position: 0 6px; }

.input_search {
  float: left;
  width: 330px;
  border: 0; }

::-webkit-input-placeholder {
  color: #535353; }

::-moz-placeholder {
  color: #535353; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #535353; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #535353; }

/*<---- Кнопки, поля ввода end ----->*/
.clear-fix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: ''; }

/*<---- Подвал begin ----->*/
.seo {
  font-size: 10px;
  margin: 80px 0;
  color: #505050; }

.footer {
  min-width: 1240px; }

.footer_menu {
  padding-bottom: 70px;
  background-color: #232323; }
  .footer_menu a {
    font-size: 12px;
    display: block;
    color: #e3e3e3; }

.footer_menu h5 a {
  font-size: 16px;
  font-style: bold;
  text-decoration: none; }

.footer_col5 {
  float: left;
  width: 248px; }

.contact {
  line-height: 100px;
  background-color: #ffce3e; }
  .contact .contact_text {
    float: left; }
  .contact .contact_text a {
    margin-right: 20px;
    color: #3d3d3d; }

/*<----Иконки социальный сетей begin---->*/
.social p {
  float: right;
  margin-right: 10px; }

.social .icons {
  float: right;
  line-height: 1.5em;
  margin-top: 28px; }

.social_icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url('../images/social_black.png'); }

.icon_youtube {
  background-position: -52px 0; }

.icon_vk {
  background-position: -106px 0; }

.icon_facebook {
  background-position: -159px 0; }

.icon_twitter {
  background-position: -212px 0; }

/*<----Иконки социальный сетей end---->*/
.copyright {
  margin-top: 40px; }

.copyright_text {
  font-size: 12px;
  margin-bottom: 15px;
  text-align: center; }

/*<---- Подвал end ----->*/
/* <--- Пагинация begin --->*/
.pagination {
  width: 520px;
  margin: 0 auto;
  margin-top: 30px;
  color: #808080; }
  .pagination .button {
    width: 60px;
    margin: 0 4px;
    padding: 0;
    display: inline-block; }
  .pagination a {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 15px 0;
    text-align: center; }
  .pagination .ellipsis {
    padding: 0 10px;
    color: #969696; }

/* <--- Пагинация END --->*/
/* <--- "Форма Нужна помощь" BEGIN--->?*/
.ask_form .input {
  float: left;
  width: 225px;
  margin-right: 18px; }

.ask_form, .ask_form .button {
  margin-top: 20px; }

.address_block_hidden {
  display: none; }

/* <--- "Форма Нужна помощь"?  END--->*/
@font-face {
  font-family: 'FranklinGothic';
  src: url('../fonts/FranklinGothicMediumCondRegular.woff') format('woff'), url('../fonts/FranklinGothicMediumCondRegular.ttf') format('truetype');
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */ }

@font-face {
  font-family: 'FranklinGothicBook';
  src: url('../fonts/FranklinGothicBookCondOSC.otf') format('opentype'); }

.works_menu {
  float: left;
  font-size: 16px;
  padding: 0px;
  margin-top: 15px;
  background-color: #ffcf3f;
  list-style-type: none; }

.works_into {
  margin-top: 28px; }

.works_menu_item {
  height: 45px;
  box-sizing: border-box;
  float: left;
  display: block;
  border-bottom: 3px #ffcf3f; }
  .works_menu_item a {
    display: block;
    margin-top: 2px;
    padding: 8px 9px 9px 10px;
    color: #232323;
    text-decoration: none;
    border-right: 1px #fff solid; }

.works_menu_item:last-child a {
  border-right: 0px; }

.works_menu_item_active {
  background-color: #e7b41f;
  border-bottom: 3px #b68039 solid; }
  .works_menu_item_active a {
    border-right: 0px; }

.works {
  padding-top: 60px;
  color: #505050; }
  .works .button {
    margin: 0 auto; }

.work_preview {
  width: 274px;
  margin-right: 48px;
  float: left; }
  .work_preview img {
    width: 274px; }

.works_row .work_preview:last-child {
  margin-right: 0px; }

.work_preview_big {
  width: 596px; }
  .work_preview_big img {
    width: 596px;
    height: 274px; }

.works_row {
  margin-bottom: 70px; }

.works_row_hidden {
  display: none; }
